.cookiehub-declaration
{
  margin: 20px 0;
}

.cookiehub-declaration p
{
  font-size: 14px;
}

.cookiehub-declaration a
{
  color: #333;
}

.cookiehub-categories
{
  padding: 20px 0;
}

.cookiehub-category table
{
  @apply w-full block overflow-x-scroll text-sm;
  background: #eee;
  margin-bottom: 20px;
}

.cookiehub-category table th, .cookiehub-category td
{
  @apply text-sm;
  padding: 4px 10px;
}

.cookiehub-category td:last-child
{
  text-align: right;
}

.cookiehub-category td span
{
  background: #ccc;
  padding: 4px 8px;
  font-size: 12px;
}

.cookiehub-category td[colspan] p
{
  background: #fff;
  padding: 10px 20px;
}
